h1 {
  font-family: cinzel;
  color: white;
  display: flex;
  background-color: rgb(5, 5, 5);
}
.info {
  color: white;
}

p {
  font-family: monospace;
  font-size: 22px;
  color: rgb(255, 10, 2);
}

body {
  background-color: rgb(5, 5, 5);
}

.dibujos {
  color: white;
}

.ejemplos {
  color: white;
  font-family: "Courier New", Courier, monospace;
}

html {
  font-size: 17px;
}

#cuidados {
  font-family: vt323;
  font-size: x-large;
  font-weight: bold;
  color: rgb(16, 247, 8);
  text-decoration: underline;
}

.creado {
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  color: white;
  display: flex;
}

.nav-link {
  font-family: fantasy;
  color: rgb(16, 247, 8);
}

.nav-link:hover {
  background-color: rgb(16, 247, 8);
  text-decoration: underline;
}

.subti {
  background-color: rgb(16, 247, 8);
  display: flex;
  justify-content: center;
  font-family: vt323;
  font-size: 25px;
}

.align-items-center {
  background-color: rgb(16, 247, 8);
}

.dudas {
  background-color: white;
}

.ig, .fc {
  font-family: vt323;
  font-size: 25px;
  color: black;
}

.ig:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}

.fc:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}

.img-fluid {
  max-width: 30%;
}

h2 {
  font-family: vt323;
  color: rgb(16, 247, 8);
  text-decoration: underline;
  font-size: 25px;
}

.grid-layout, .grid-layout2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: center;
}

.imgd, .imgp {
  width: 300px;
  height: 300px;
  margin: 0px;
  border: 10px solid white;
}

.tatu, .pier, .pfre, .insu, .servicios, .jo {
  text-decoration: underline;
  font-family: vt323;
  color: rgb(16, 247, 8);
}
img{
  width: 100%;
}
.row{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.column{
  flex: 30%;
  padding: 5px;
}
.column img{
  margin-top: 5px;
}
@media only screen and (max-widht: 500px){
  .column{
    flex: 100%;
  }
}
@media only screen and (min-widht: 501px){
  .column{
    flex: 50%;
  }
}
.materiales{
  font-family: vt323;
  color: rgb(16, 247, 8);
  text-decoration: underline;
}
.img-preguntas{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: center;
  gap: 10px;
}
.img-pf{
  width: 350px;
  height: 350px;
}
.img-joyas, .oro, .zirconia, .Swarovski{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: center;
  background-color: rgb(5, 5, 5);
}
.imgj{
  width: 330px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h5{
  color: white;
  text-decoration: underline;
  font-family: monospace;
}
h4{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-align: center;
}
h6{
  font-family: monospace;
  color: rgb(5, 5, 5);
}